<div class="aula">
    <h2>Aula List-Render</h2>
    <ul class="listaAnimais">
        <li *ngFor="let animal of animals">
            <p>
                Nome: <strong>{{animal.name}}</strong>
            </p>
            <p>
                Type: {{animal.type}}
            </p>
            <div class="buttonsArea">
                <button routerLink="/list/{{animal.id}}">Detalhes</button>
                <button (click)="showAge(animal)">Descobrir Idade</button>
                <button (click)="delete_animals(animal)">Remover</button>
            </div>
        </li>
    </ul>
    <h3 class="animalInfo">{{animalInfo}}</h3>
    <button (click)="reset()">Resetar</button>
</div>